{
    "status": 200,
    "data": {
        "site_version": 0,
        "site_name": "老鸭福利",
        "site_desc": "免费福利资源视频",
        "site_icon": "https://www.jpysvip.net/template/mytheme/statics/img/favicon.ico",
        "site_init": {
            "okhttp": []
        },
        "site_filter": {
            "filter1": {
                "name": [],
                "url": []
            }
        },
        "site_connect": {
            "aaa": {
                "url": "",
                "userAgent": "${android}",
                "redirect": true,
                "timeOut": 9000,
                "method": "get",
                "data": [],
                "cookie": [
                    {
                        "site_timer": "100000"
                    }
                ],
                "header": []
            },
            "bbb": {
                "url": "",
                "userAgent": "Mozilla\/5.0 (Windows Phone 10.0; Android 4.2.1; Microsoft; Lumia 950) AppleWebKit\/537.36 (KHTML, like Gecko) Chrome\/46.0.2486.0 Mobile Safari\/537.36 Edge\/14.14263",
                "redirect": true,
                "timeOut": 8000,
                "method": "post",
                "data": [
                    {
                        "wd": "${word}"
                    }
                ],
                "cookie": [],
                "header": []
            }
        },
        "site_search": {
            "aaa": {
                "keyword": {
                    "key_address": "",
                    "key_connect": "aaa",
                    "key_filter": "filter1",
                    "key_limit": 10,
                    "key_hint": {
                        "submit": false,
                        "text": ""
                    },
                    "key_plus": [],
                    "key_node": {
                        "elements": [
                            {
                                "select": "div.search-history"
                            },
                            {
                                "select": "li"
                            }
                        ],
                        "element": {
                            "name": [
                                {
                                    "getElementsByTag": "a"
                                },
                                {
                                    "html": ""
                                }
                            ],
                            "url": [
                                {
                                    "getElementsByTag": "a"
                                },
                                {
                                    "attr": "abs:href"
                                }
                            ]
                        }
                    }
                },
                "search": {
                    "search_address": "http:\/\/laoyazy.com\/index.php\/vod\/search.html?wd=${word}&submit=",
                    "search_connect": {
                        "first": "aaa",
                        "later": "aaa"
                    },
                    "search_detail": "aaa",
                    "search_filter": "filter1",
                    "search_interval": 3,
                    "search_view": 1,
                    "search_node": {
                        "elements": [
                            {
                                "select": "ul.stui-vodlist"
                            },
                            {
                                "select": "li"
                            }
                        ],
                        "element": {
                            "url": [
                                {
                                    "select": "h3.title a"
                                },
                                {
                                    "attr": "abs:href"
                                }
                            ],
                            "name": [
                                {
                                    "select": "h3.title a"
                                },
                                {
                                    "attr": "title"
                                }
                            ],
                            "img": [
                                {
                                    "select": "a.myui-vodlist__thumb"
                                },
                                {
                                    "attr": "data-original"
                                }
                            ],
                            "score": [
                                {
                                    "select": "span"
                                },
                                {
                                    "text": ""
                                }
                            ],
                            "desc": [
                                {
                                    "select": "span"
                                },
                                {
                                    "text": ""
                                }
                            ]
                        },
                        "nextUrl": [
                            {
                                "select": "a:contains(下一页)"
                            },
                            {
                                "attr": "abs:href"
                            }
                        ]
                    }
                }
            }
        },
        "site_detail": {
            "aaa": {
                "detail_connect": "aaa",
                "detail_view": 1,
                "detail_title": "详情s",
                "detail_desc": "简介",
                "detail_resource": "播放地址",
                "detail_tab": "资源${number}",
                "detail_sniffer": {
                    "mode": "free",
                    "userAgent": "${android}",
                    "timeOut": 16,
                    "device": "cast",
                    "dialog": "分析资源中..",
                    "error": "分析资源超时",
                    "media": [
                        ".mp4",
                        "weiyun.com",
                        ".189."
                    ],
                    "filter": []
                },
                "detail_replace": [],
                "detail_node": {
                    "redirect": [],
                    "content": {
                        "basic": {
                            "name": [
                                {
                                    "select": "h1.title"
                                },
                                {
                                    "text": ""
                                }
                            ],
                            "img": [
                                {
                                    "select": "img.img-responsive"
                                },
                                {
                                    "attr": "src"
                                }
                            ],
                            "score": [],
                            "desc": [
                                {
                                    "select": "p.movieintro"
                                },
                                {
                                    "text": ""
                                }
                            ]
                        },
                        "common": []
                    },
                    "resource": {
                        "tab": {
                            "elements": [
                                {
                                    "select": "ul.nav-tabs"
                                },
                                {
                                    "first": ""
                                },
                                {
                                    "select": "li"
                                }
                            ],
                            "element": {
                                "name": [
                                    {
                                        "select": "a"
                                    },
                                    {
                                        "textNodes": ""
                                    },
                                    {
                                        "get": "0"
                                    },
                                    {
                                        "wholeText": ""
                                    }
                                ]
                            }
                        },
                        "list": {
                            "elements": [
                                {
                                    "select": "ul.stui-content__playlist"
                                },
                                {
                                    "select": "li"
                                }
                            ],
                            "tab": [],
                            "element": {
                                "elements": [
                                    {
                                        "select": "li"
                                    }
                                ],
                                "element": {
                                    "name": [
                                        {
                                            "select": "a.copy_text"
                                        },
                                        {
                                            "textNodes": ""
                                        },
                                        {
                                            "get": "0"
                                        },
                                        {
                                            "wholeText": ""
                                        }
                                    ],
                                    "url": [
                                        {
                                            "select": "a"
                                        },
                                        {
                                            "attr": "abs:href"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "site_fm": [
            {
                "fm_title": "首页",
                "fm_address": "http:\/\/laoyazy.com\/",
                "fm_detail": "aaa",
                "fm_connect": "aaa",
                "fm_search": "aaa",
                "fm_filter": "filter1",
                "fm_type": "category",
                "fm_view": 1,
                "fm_node": {
                    "category": {
                        "view": "single",
                        "single": [
                            {
                                "elements": [
                                    {
                                        "select": "ul.stui-header__menu"
                                    },
                                    {
                                        "first": ""
                                    },
                                    {
                                        "select": "li"
                                    }
                                ],
                                "element": {
                                    "address": [
                                        {
                                            "select": "a"
                                        },
                                        {
                                            "attr": "abs:href"
                                        }
                                    ],
                                    "name": [
                                        {
                                            "select": "a"
                                        },
                                        {
                                            "html": ""
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "list": {
                        "elements": [
                            {
                                "select": "ul.stui-vodlist"
                            },
                            {
                                "select": "li"
                            }
                        ],
                        "element": {
                            "url": [
                                {
                                    "select": "h3.title a"
                                },
                                {
                                    "attr": "abs:href"
                                }
                            ],
                            "name": [
                                {
                                    "select": "h3.title a"
                                },
                                {
                                    "attr": "title"
                                }
                            ],
                            "img": [
                                {
                                    "select": "a.myui-vodlist__thumb"
                                },
                                {
                                    "attr": "data-original"
                                }
                            ],
                            "score": [
                                {
                                    "select": "span"
                                },
                                {
                                    "text": ""
                                }
                            ],
                            "desc": [
                                {
                                    "select": "span"
                                },
                                {
                                    "text": ""
                                }
                            ]
                        },
                        "nextUrl": [
                            {
                                "select": "a:contains(下一页)"
                            },
                            {
                                "attr": "abs:href"
                            }
                        ]
                    }
                }
            }
        ]
    }
}
